# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# turborepo
.turbo

# testing
/coverage
.vitest-attachments
**/__screenshots__

# next.js
**/.next/
**/out/

# built shadcn registry
apps/docs/public/r/

# production
/build

# misc
.DS_Store
*.pem
.idea

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*.local

# typescript
packages/*/dist
*.tsbuildinfo
next-env.d.ts
posters

**/*.pptx
**/*.docx
**/*.zip
.claude/launch.json
